{% extends "hello.html" %}

{% block headnodecontent %}
    <script>
      function getJSONFromMyForm(collectionName) {
        formName = 'form' + collectionName;
        var myForm = $(document[formName]).serializeArray();
        var myFormObject = {};
        $.each(myForm,
          function(i, v) {
              myFormObject[v.name] = v.value;
          });
        return JSON.stringify(myFormObject);
      }

      $(function(){
        // Post json to server
        $('.post').click(function(){
          jsonData = getJSONFromMyForm(this.value)
          $('#jsonrequest').val(jsonData);
          $.ajax({
            type: 'POST',
            contentType: 'application/json',
            data: jsonData,
            dataType: 'json',
            url: '/api/' + this.value,
            success: function (ret) {
              $('#jsonresponse').val(JSON.stringify(ret));
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
            $('#jsonresponse').val(errorThrown);
            }
          });
        });
      });
    </script>
{% endblock %}


          {% block menucontent %}
                  <li><a href="/">Home</a></li>
                  <li class="active"><a href="/api/">API</a></li>
          {% endblock %}

          {% block maincontent %}
          <div>



            <h1 class="cover-heading">API</h1>
              <div class="row">
              <div class="col-md-6">


            <h2 class="cover-heading">Action</h2>
            <form id="formaction" name="formaction">

              <div class="form-group">
               <label for="ota">OTA equipment code: </label>
               <input type="text" name="ota" class="form-control"/>
              </div>

                              <div class="form-group">
               <label for="plo">Pickup Location: </label>
               <input type="text" name="plo" class="form-control"/>
              </div>


                <div class="form-group">
              <label for="date" >Pickup date:</label>
              <input type="text" name="date" class="form-control"/>
              </form>

            <h2 class="cover-heading">OtaEquipment</h2>
            <p>
            <form id="formotaequipment" name="formotaequipment">
              Description: <input type="text" name="description" class="form-control">
              OTA equipment code: <input type="text" name="ota" class="form-control">
            </form>
              <a href="/api/otaequipment">List Ota Equipment</a>
            </p>
                </div>




                <div class="form-grouo">
                
                <button class="btn btn-lg btn-default post" value="otaequipment">Store Eqioment to DB</button>

                <button class="btn btn-lg btn-success post" value="action">Store to DB</button> 
                <button class="btn btn-lg btn-warning"><a href="/api/action">List actions</a></button>
                 </div>




                  </div>
          <div class="col-md-6">
              <h2 class="cover-heading">Data</h2>

              <div class="form-group">
                  <label for="ota">Response: </label>
              <textarea class="form-control" id="jsonresponse" name="jsonresponse"></textarea>
                 </div>



                            <div class="form-group">
                  <label for="ota">Request: </label>
              <textarea class="form-control" id="jsonrequest" name="jsonrequest"></textarea>
                 </div>
              </div>



</div>


          </div>



          {% endblock %}


        