{% extends "hello.html" %}

{% block headnodecontent %}
    <script>
      function getJSONFromMyForm(collectionName) {
        formName = 'form' + collectionName;
        var myForm = $(document[formName]).serializeArray();
        var myFormObject = {};
        $.each(myForm,
          function(i, v) {
              myFormObject[v.name] = v.value;
          });
        return JSON.stringify(myFormObject);
      }

      $(function(){
        // Post json to server
        $('.post').click(function(){
          $.ajax({
            type: 'POST',
            // Provide correct Content-Type, so that Flask will know how to process it.
            contentType: 'application/json',
            // Encode data as JSON.
            data: getJSONFromMyForm(this.value),
            // This is the type of data expected back from the server.
            dataType: 'json',
            url: '/api/' + this.value,
            success: function (ret) {
              $('#jsonresponse').val(JSON.stringify(ret));
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
            $('#jsonresponse').val(errorThrown);
            }
          });
        });
      });
    </script>
{% endblock %}


          {% block menucontent %}
                  <li><a href="/">Home</a></li>
                  <li class="active"><a href="/api/">API</a></li>
                  <li><a href="/f">Features</a></li>
          {% endblock %}

          {# This is the content block where we add content from other templaes like f.html #}
          {% block maincontent %}
          <div class="inner cover">
            <h1 class="cover-heading">API</h1>

            <h2 class="cover-heading">Item</h2>
            <p>
            <form id="formitem" name="formitem">
              OTA equipment code: <input type="text" name="ota" class="form-control">
              Pickup date: <input type="text" name="date" class="form-control">
              <textarea class="form-control" id="jsonresponse" name="jsonresponse"></textarea>
            </form>
              <p>
                <button class="btn btn-lg btn-default post" value="item">Store to DB</button> <a href="/api/item">List Items</a>
              </p>
            </p>

            <h2 class="cover-heading">OtaEquipment</h2>
            <p>
            <form id="formotaequipment" name="formotaequipment">
              Description: <input type="text" name="description" class="form-control">
              OTA equipment code: <input type="text" name="ota" class="form-control">
            </form>
              <button class="btn btn-lg btn-default post" value="otaequipment">Store to DB</button> <a href="/api/otaequipment">List Ota Equipment</a>
            </p>
          </div>
          {% endblock %}
          {% block mastfoot %}
          {% endblock %}

        